/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 16pt;
 font-family: 'HelveticaNeue';
 color: #1b1f22;
}
span.rvts12
{
 font-size: 32pt;
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #1b1f22;
}
span.rvts13
{
 font-size: 24pt;
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #0a4dcc;
}
span.rvts14
{
 font-size: 24pt;
 font-family: 'HelveticaNeue-Medium';
 font-style: italic;
 font-weight: bold;
 color: #1b1f22;
}
span.rvts15
{
 font-size: 11pt;
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #0a4dcc;
}
a.rvts16, span.rvts16
{
 font-size: 11pt;
 font-family: 'HelveticaNeue';
 color: #0a4dcc;
 text-decoration: none;
}
span.rvts17
{
 font-size: 11pt;
 font-family: 'HelveticaNeue';
 color: #1b1f22;
}
span.rvts18 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts19, span.rvts19 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts20
{
 font-size: 11pt;
 font-weight: bold;
 color: #222222;
}
span.rvts21
{
 font-size: 11pt;
 color: #222222;
}
a.rvts22, span.rvts22
{
 font-size: 11pt;
 color: #663366;
 text-decoration: none;
}
a.rvts23, span.rvts23
{
 font-size: 11pt;
 color: #bb6633;
 text-decoration: underline;
}
a.rvts24, span.rvts24
{
 font-size: 11pt;
 color: #0b0080;
 text-decoration: none;
}
span.rvts25
{
 font-size: 11pt;
 font-style: italic;
 color: #222222;
}
span.rvts26
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts27
{
 font-size: 11pt;
 font-weight: bold;
 color: #222222;
}
span.rvts28
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts29
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts30
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #f8f9fa;
}
span.rvts31
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000000;
 background-color: #f8f9fa;
}
span.rvts32
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
a.rvts33, span.rvts33
{
 font-size: 11pt;
 font-weight: bold;
 color: #663366;
 text-decoration: none;
}
span.rvts34
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #222222;
}
span.rvts35
{
 font-size: 11pt;
 color: #222222;
 background-color: #ffffff;
}
a.rvts36, span.rvts36
{
 font-size: 11pt;
 color: #0b0080;
 background-color: #ffffff;
 text-decoration: none;
}
span.rvts37
{
 font-size: 11pt;
 font-weight: bold;
 color: #222222;
 background-color: #ffffff;
}
span.rvts38
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts39
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts40
{
 font-family: 'HelveticaNeue';
 color: #1b1f22;
}
span.rvts41
{
 font-family: 'Menlo-Regular';
 color: #1b1f22;
}
span.rvts42
{
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #1b1f22;
}
span.rvts43
{
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #0a4dcc;
}
a.rvts44, span.rvts44
{
 font-family: 'HelveticaNeue';
 color: #0a4dcc;
 text-decoration: none;
}
span.rvts45
{
 font-size: 14pt;
 font-family: 'HelveticaNeue';
 font-style: italic;
 font-weight: bold;
 color: #1b1f22;
}
span.rvts46
{
 font-size: 13pt;
 font-family: 'HelveticaNeue';
 font-weight: bold;
 color: #1b1f22;
}
span.rvts47
{
 font-size: 14pt;
 font-family: 'HelveticaNeue-Medium';
 font-style: italic;
 font-weight: bold;
 color: #1b1f22;
}
span.rvts48
{
 font-size: 12pt;
 font-family: 'segoe ui';
 color: #24292e;
 background-color: #ffffff;
}
span.rvts49
{
 font-size: 12pt;
 font-family: 'segoe ui';
 font-style: italic;
 font-weight: bold;
 color: #24292e;
 background-color: #ffffff;
}
span.rvts50
{
 font-size: 12pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #24292e;
}
span.rvts51
{
 font-size: 12pt;
 font-family: 'segoe ui';
 color: #24292e;
}
span.rvts52
{
 font-size: 11pt;
 font-family: 'consolas';
 color: #24292e;
}
span.rvts53
{
 font-size: 11pt;
 font-family: 'Consolas';
}
span.rvts54
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts55
{
 font-size: 15pt;
 font-family: 'segoe ui';
 color: #24292e;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps5
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
 background: #ffffff;
 margin: 7px 0px 7px 0px;
}
.rvps8
{
 background: #ffffff;
 margin: 0px 0px 1px 0px;
}
.rvps9
{
 background: #ffffff;
 margin: 0px 0px 1px 22px;
}
.rvps10
{
 margin: 0px 0px 0px 24px;
}
.rvps11
{
 white-space: nowrap;
 margin: 5px 5px 5px 5px;
}
.rvps12
{
 margin: 0px 0px 0px 48px;
}
.rvps13
{
 text-indent: 48px;
}
.rvps14
{
 background: #ffffff;
 margin: 0px 0px 1px 24px;
}
.rvps15
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps16
{
 background: #ffffff;
}
.rvps17
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps18
{
 background: #ffffff;
 margin: 0px 0px 16px 0px;
}
.rvps19
{
 background: #ffffff;
 padding: 0px 0px 0px 32px;
}
.rvps20
{
 background: #ffffff;
 padding: 0px 0px 0px 32px;
 margin: 4px 0px 0px 0px;
}
.rvps21
{
 margin: 0px 0px 16px 0px;
}
.rvps22
{
 background: #f6f8fa;
 padding: 16px 16px 16px 16px;
 margin: 0px 0px 16px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 22px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 22px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 22px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: circle;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: square;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 22px; list-style-position: outside;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: disc;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: circle;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: square;}
