/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 16pt;
 font-family: 'HelveticaNeue';
 color: #1b1f22;
}
span.rvts12
{
 font-size: 32pt;
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #1b1f22;
}
span.rvts13
{
 font-size: 24pt;
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #0a4dcc;
}
span.rvts14
{
 font-size: 24pt;
 font-family: 'HelveticaNeue-Medium';
 font-style: italic;
 font-weight: bold;
 color: #1b1f22;
}
span.rvts15
{
 font-size: 11pt;
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #0a4dcc;
}
a.rvts16, span.rvts16
{
 font-size: 11pt;
 font-family: 'HelveticaNeue';
 color: #0a4dcc;
 text-decoration: none;
}
span.rvts17
{
 font-size: 11pt;
 font-family: 'HelveticaNeue';
 color: #1b1f22;
}
span.rvts18
{
 font-size: 32pt;
 font-family: 'HelveticaNeue-Medium';
 color: #1b1f22;
}
span.rvts19 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts20, span.rvts20 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts21
{
 font-size: 11pt;
 font-weight: bold;
 color: #222222;
}
span.rvts22
{
 font-size: 11pt;
 color: #222222;
}
a.rvts23, span.rvts23
{
 font-size: 11pt;
 color: #663366;
 text-decoration: none;
}
a.rvts24, span.rvts24
{
 font-size: 11pt;
 color: #bb6633;
 text-decoration: underline;
}
a.rvts25, span.rvts25
{
 font-size: 11pt;
 color: #0b0080;
 text-decoration: none;
}
span.rvts26
{
 font-size: 11pt;
 font-style: italic;
 color: #222222;
}
a.rvts27, span.rvts27
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #1b2f01;
 text-decoration: none;
}
span.rvts28
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #1b2f01;
}
span.rvts29
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #1b2f01;
}
a.rvts30, span.rvts30
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts31
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #1b2f01;
}
span.rvts32
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts33
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts34
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #f8f9fa;
}
span.rvts35
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000000;
 background-color: #f8f9fa;
}
span.rvts36
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
a.rvts37, span.rvts37
{
 font-size: 11pt;
 font-weight: bold;
 color: #663366;
 text-decoration: none;
}
span.rvts38
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #222222;
}
span.rvts39
{
 font-size: 11pt;
 color: #222222;
 background-color: #ffffff;
}
a.rvts40, span.rvts40
{
 font-size: 11pt;
 color: #0b0080;
 background-color: #ffffff;
 text-decoration: none;
}
span.rvts41
{
 font-size: 11pt;
 font-weight: bold;
 color: #222222;
 background-color: #ffffff;
}
span.rvts42
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts43
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
}
span.rvts44
{
 font-size: 11pt;
 font-weight: bold;
 color: #a00000;
}
span.rvts45
{
 color: #222222;
}
span.rvts46
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 vertical-align: sub;
}
span.rvts47
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #a00000;
}
span.rvts48
{
 font-size: 9pt;
 color: #222222;
}
span.rvts49
{
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
 color: #408080;
}
span.rvts50
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #666666;
}
a.rvts51, span.rvts51
{
 color: #0b0080;
 text-decoration: none;
}
span.rvts52
{
 color: #54595d;
}
a.rvts53, span.rvts53
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #0b0080;
 text-decoration: none;
}
span.rvts54
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #ba2121;
}
span.rvts55
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts56
{
 font-size: 14pt;
 color: #222222;
}
span.rvts57
{
 font-size: 17pt;
 color: #222222;
}
a.rvts58, span.rvts58
{
 font-size: 11pt;
 color: #faa700;
 text-decoration: underline;
}
span.rvts59
{
 font-size: 14pt;
 font-weight: bold;
 color: #000000;
}
span.rvts60
{
 font-size: 12pt;
 color: #222222;
}
span.rvts61
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #008000;
}
span.rvts62
{
 font-size: 8pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #f8f9fa;
}
span.rvts63
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #222222;
}
span.rvts64
{
 font-size: 9pt;
 font-style: italic;
 color: #222222;
}
span.rvts65
{
 font-size: 11pt;
 font-weight: bold;
 color: #708090;
}
span.rvts66
{
 color: #000000;
}
span.rvts67
{
 color: #ffffff;
}
a.rvts68, span.rvts68
{
 font-size: 9pt;
 font-style: italic;
 color: #663366;
 text-decoration: none;
}
span.rvts69
{
 font-size: 11pt;
 font-weight: bold;
 color: #222222;
 text-decoration: underline;
}
span.rvts70
{
 font-size: 9pt;
 font-style: italic;
 color: #222222;
 vertical-align: sub;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000000;
}
a.rvts72, span.rvts72
{
 font-size: 11pt;
 color: #663366;
 background-color: #ffffff;
 text-decoration: none;
}
span.rvts73
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000000;
 background-color: #f8f9fa;
}
span.rvts74
{
 font-size: 9pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts75
{
 font-size: 9pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
 color: #000000;
 background-color: #f8f9fa;
}
span.rvts76
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-style: italic;
 color: #000000;
}
a.rvts77, span.rvts77
{
 font-size: 11pt;
 font-style: italic;
 color: #663366;
 text-decoration: none;
}
span.rvts78
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts79
{
 font-family: 'HelveticaNeue';
 color: #1b1f22;
}
span.rvts80
{
 font-family: 'Menlo-Regular';
 color: #1b1f22;
}
span.rvts81
{
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #1b1f22;
}
span.rvts82
{
 font-family: 'HelveticaNeue-Medium';
 font-weight: bold;
 color: #0a4dcc;
}
a.rvts83, span.rvts83
{
 font-family: 'HelveticaNeue';
 color: #0a4dcc;
 text-decoration: none;
}
span.rvts84
{
 font-size: 14pt;
 font-family: 'HelveticaNeue';
 font-style: italic;
 font-weight: bold;
 color: #1b1f22;
}
span.rvts85
{
 font-size: 13pt;
 font-family: 'HelveticaNeue';
 font-weight: bold;
 color: #1b1f22;
}
span.rvts86
{
 font-size: 14pt;
 font-family: 'HelveticaNeue-Medium';
 font-style: italic;
 font-weight: bold;
 color: #1b1f22;
}
span.rvts87
{
 font-size: 12pt;
 font-family: 'segoe ui';
 color: #24292e;
 background-color: #ffffff;
}
span.rvts88
{
 font-size: 12pt;
 font-family: 'segoe ui';
 font-style: italic;
 font-weight: bold;
 color: #24292e;
 background-color: #ffffff;
}
span.rvts89
{
 font-size: 12pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #24292e;
}
span.rvts90
{
 font-size: 12pt;
 font-family: 'segoe ui';
 color: #24292e;
}
span.rvts91
{
 font-size: 11pt;
 font-family: 'consolas';
 color: #24292e;
}
span.rvts92
{
 font-size: 11pt;
 font-family: 'Consolas';
}
span.rvts93
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts94
{
 font-size: 15pt;
 font-family: 'segoe ui';
 color: #24292e;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps5
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
 background: #ffffff;
 margin: 7px 0px 7px 0px;
}
.rvps8
{
 background: #ffffff;
 margin: 0px 0px 1px 0px;
}
.rvps9
{
 margin: 0px 0px 0px 24px;
}
.rvps10
{
 background: #ffffff;
 margin: 0px 0px 1px 22px;
}
.rvps11
{
 white-space: nowrap;
 margin: 5px 5px 5px 5px;
}
.rvps12
{
 margin: 0px 0px 0px 48px;
}
.rvps13
{
 text-indent: 48px;
}
.rvps14
{
 background: #ffffff;
 margin: 0px 0px 1px 24px;
}
.rvps15
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps16
{
 background: #ffffff;
}
.rvps17
{
 border-color: #eaecf0;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 padding: 14px 14px 14px 14px;
}
.rvps18
{
 background: #ffffff;
 margin: 4px 0px 0px 22px;
}
.rvps19
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 margin: 14px 0px 14px 0px;
}
.rvps20
{
 background: #ffffff;
 margin: 6px 0px 6px 0px;
}
.rvps21
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 margin: 30px 0px 30px 0px;
}
.rvps22
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 margin: 29px 0px 29px 0px;
}
.rvps23
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 margin: 22px 0px 22px 0px;
}
.rvps24
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 margin: 17px 0px 17px 0px;
}
.rvps25
{
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 padding: 3px 3px 3px 3px;
}
.rvps26
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 padding: 3px 3px 3px 3px;
}
.rvps27
{
 border-color: #eaecf0;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 padding: 13px 13px 13px 13px;
}
.rvps28
{
 text-align: left;
 text-indent: 0px;
 background: #ffffff;
 padding: 7px 0px 0px 0px;
 margin: 4px 0px 0px 0px;
}
.rvps29
{
 background: #ffffff;
 margin: 0px 7px 7px 0px;
}
.rvps30
{
 margin: 7px 0px 7px 0px;
}
.rvps31
{
 text-align: left;
 text-indent: 0px;
 background: #ffffff;
 padding: 9px 0px 0px 0px;
 margin: 6px 0px 0px 0px;
}
.rvps32
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 margin: 15px 0px 15px 0px;
}
.rvps33
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #ffffff;
}
.rvps34
{
 text-align: left;
 text-indent: 0px;
 background: #ffffff;
 padding: 7px 0px 0px 0px;
 margin: 4px 0px 0px 0px;
}
.rvps35
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 margin: 23px 0px 23px 0px;
}
.rvps36
{
 background: #a2a9b1;
 margin: 3px 0px 3px 0px;
}
.rvps37
{
 margin: 14px 0px 14px 0px;
}
.rvps38
{
 margin: 0px 0px 2px 0px;
}
.rvps39
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 margin: 37px 0px 37px 0px;
}
.rvps40
{
 text-align: center;
 border-color: #c8ccd1;
 border-style: solid;
 border-width: 1px;
 background: #f8f9fa;
 margin: 33px 0px 33px 0px;
}
.rvps41
{
 text-align: center;
 margin: 7px 0px 7px 0px;
}
.rvps42
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps43
{
 background: #ffffff;
 margin: 0px 0px 16px 0px;
}
.rvps44
{
 background: #ffffff;
 padding: 0px 0px 0px 32px;
}
.rvps45
{
 background: #ffffff;
 padding: 0px 0px 0px 32px;
 margin: 4px 0px 0px 0px;
}
.rvps46
{
 margin: 0px 0px 16px 0px;
}
.rvps47
{
 background: #f6f8fa;
 padding: 16px 16px 16px 16px;
 margin: 0px 0px 16px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 22px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 22px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 22px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: circle;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: square;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 22px; list-style-position: outside;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 25px; list-style-position: outside; list-style-type: disc;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 25px; list-style-position: outside; list-style-type: circle;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 25px; list-style-position: outside; list-style-type: square;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 44px; list-style-position: outside; list-style-type: circle;}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 44px; list-style-position: outside; list-style-type: square;}
.list18 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: disc;}
.list19 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: circle;}
.list20 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: square;}
